
<main>
    <h1>Capacitor Demo</h1>

    <section>
        <h2>Camera</h2>
        <p>Available: {{ isAvailable('Camera') ? 'yes' : 'no' }}</p>
        <button (click)="takePicture()">Take picture</button>
        <div *ngIf="photo" style="margin-top: 1em;">
            <img [src]="photo" alt="" width="100%">
        </div>
    </section>

    <section>
        <h2>Toast</h2>
        <p>Available:  {{ isAvailable('Toast') ? 'yes' : 'no' }}</p>
        <button (click)="showToast()">Show a toast</button>
    </section>

    <section>
        <h2>Share sheet</h2>
        <p>Available:  {{ isAvailable('Share') ? 'yes' : 'no' }}</p>
        <button (click)="share()">Share a link</button>
    </section>

    <section>
        <h2>Splash screen</h2>
        <p>Available:  {{ isAvailable('SplashScreen') ? 'yes' : 'no' }}</p>
        <button (click)="showSplash()">Show splash screen</button>
    </section>

    <section>
        <h2>Local notifications</h2>
        <p>Available:  {{ isAvailable('LocalNotifications') ? 'yes' : 'no' }}<br>
            Permission: {{ !notificationsPermitted ? 'Forbidden' : 'Granted' }}
            <br>
            Note: areEnabled() is not available in the Browser.
        </p>

        <button (click)="requestNotificationPermission()">Request permission</button><br>
        <button (click)="sheduleNotification()">Try scheduling notification</button>
    </section>

    <section>
        <h2>Modal</h2>
        <p>Available:  {{ isAvailable('Modal') ? 'yes' : 'no' }}</p>
        <button (click)="showPrompt()">Show modal</button>
        <p>Result: {{ promtResult || 'none' }}</p>
    </section>

    <section>
        <h2>Geolocation</h2>
        <p>Available:  {{ isAvailable('Geolocation') ? 'yes' : 'no' }}</p>
        <button (click)="getCurrentPosition()">Get current position</button>
        <p>Result: {{ coord | json }}</p>
    </section>

    <section>
        <h2>Status Bar</h2>
        <p>Available:  {{ isAvailable('StatusBar') ? 'yes' : 'no' }}</p>
        <button (click)="hideStatusBar()">Hide status bar</button><br>
        <button (click)="showStatusBar()">Show status bar</button>
    </section>
    
</main>

<router-outlet></router-outlet>